*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  .loading {
    overflow: hidden;
    touch-action: none;
  }
}

body {
  overflow: hidden;
  overflow-y: auto;
}

.bebop-custom-menu {
  ul {
    @apply dark:bg-slate-700 dark:text-white;
    li {
      @apply dark:text-white;
    }
  }
}
